trigger: none

pool:
  vmImage: ubuntu-latest

steps:

- task: TerraformInstaller@1
  inputs:
    terraformVersion: latest

- task: AzureCLI@2
  displayName: Terraform Init Plan Apply
  inputs:
    azureSubscription: terraform-connection
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      set -e

      terraform init -reconfigure -input=false

      terraform validate

      terraform plan \
        -var="prefix=demo" \
        -var="location=westus" \
        -out=tfplan \
        -input=false -no-color

      terraform apply -input=false -auto-approve tfplan
