trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  workingDirectory: '.'

steps:

# Install Terraform
- task: TerraformInstaller@1
  displayName: Install Terraform
  inputs:
    terraformVersion: 'latest'


# Login + Run Terraform
- task: AzureCLI@2
  displayName: Terraform Init Plan Apply
  inputs:
    azureSubscription: 'terraform-connection'
    scriptType: bash
    scriptLocation: inlineScript
    workingDirectory: $(workingDirectory)
    inlineScript: |
      set -e

      echo "===== Terraform Version ====="
      terraform --version

      echo "===== Terraform Init ====="
      terraform init -reconfigure -input=false

      echo "===== Terraform Validate ====="
      terraform validate

      echo "===== Terraform Plan ====="
      terraform plan -out=tfplan -input=false -no-color

      echo "===== Terraform Apply ====="
      terraform apply -input=false -auto-approve tfplan

      echo "===== Done ====="
