trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  workingDirectory: '.'

steps:

- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'

- task: AzureCLI@2
  inputs:
    azureSubscription: 'terraform-conn'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: |
      cd $(workingDirectory)

      terraform init

      terraform plan -out=tfplan

      terraform apply -auto-approve tfplan
