trigger: none

pool:
  vmImage: ubuntu-latest

steps:

# Install Terraform
- task: TerraformInstaller@1
  displayName: Install Terraform
  inputs:
    terraformVersion: latest


# Terraform using Service Principal
- task: AzureCLI@2
  displayName: Terraform Init Plan Apply
  inputs:
    azureSubscription: terraform-connection
    addSpnToEnvironment: true
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      set -e

      echo "===== Fetch Subscription ID ====="
      SUB_ID=$(az account show --query id -o tsv)

      echo "===== Export ARM credentials ====="
      export ARM_CLIENT_ID=$servicePrincipalId
      export ARM_CLIENT_SECRET=$servicePrincipalKey
      export ARM_TENANT_ID=$tenantId
      export ARM_SUBSCRIPTION_ID=$SUB_ID

      echo "===== Terraform Init ====="
      terraform init -reconfigure -input=false

      echo "===== Terraform Validate ====="
      terraform validate

      echo "===== Terraform Plan ====="
      terraform plan \
        -var="prefix=demo" \
        -var="location=westus" \
        -out=tfplan \
        -input=false -no-color

      echo "===== Terraform Apply ====="
      terraform apply -input=false -auto-approve tfplan
